version: '3.8'
services:
app:
build: .
ports:
- "3000:3000"
environment:
- MONGO_URL=mongodb://mongo:27017/urlshortener
- REDIS_URL=redis://redis:6379
- BASE_URL=http://localhost:3000
depends_on:
- mongo
- redis


mongo:
image: mongo:6.0
volumes:
- mongo-data:/data/db
ports:
- "27017:27017"


redis:
image: redis:7
ports:
- "6379:6379"


volumes:
mongo-data:
